
<ion-tabs class="tabs-icon-top bottom_tabs">
  <ion-tab ui-sref="main.starTest" title="星测试"
           icon-off="ion-ios-star-outline"
           icon-on="ion-ios-star" class="font">
    <ion-nav-view name="main-starTest">

    </ion-nav-view>
  </ion-tab>
  <ion-tab ui-sref="main.starFriend" title="星友圈"
           icon-on="ion-ios-people"
           icon-off="ion-ios-people-outline" class="font">
    <ion-nav-view name="main-starFriend">

    </ion-nav-view>
  </ion-tab>
  <ion-tab ui-sref="main.starWall" title="星愿墙"
           icon-on="ion-ios-recording"
           icon-off="ion-ios-recording-outline" class="font">
    <ion-nav-view name="main-starWall">

    </ion-nav-view>
  </ion-tab>
  <ion-tab ui-sref="main.starData" title="星资料"
           icon-off="ion-ios-gear-outline"
           icon-on="ion-ios-gear" class="font">
    <ion-nav-view name="main-starData">

    </ion-nav-view>
  </ion-tab>
</ion-tabs>

