
<ion-view view-title="星测试">
  <!--<ion-nav-buttons>
    <button class="button button-clear icon ion-leaf"></button>
  </ion-nav-buttons>-->

  <ion-content >
    <!--星测试轮播图-->
       <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
         <ion-slide>
           <div class="box blue"><img src="img/lunbo01.jpg" alt=""></div>
         </ion-slide>
         <ion-slide>
           <div class="box yellow"><img src="img/lunbo02.jpg" alt=""></div>
         </ion-slide>
       </ion-slide-box>
  <!--  <ion-list>
     <ion-item>-->
       <div class="row">
         <div class="col-33 button button-clear">
          <button class="col-15 button icon ion-star balanced botton_circle"></button>
         </div>
         <div class="col-33 button button-clear">
           <button class="col-15 button icon ion-heart energized  botton_circle"></button>
         </div>
         <div class="col-33 button button-clear">
           <button class="col-15 button icon assertive
           ion-ios-pulse-strong botton_circle"></button>
         </div>
       </div>
   <!--  </ion-item>
   </ion-list>-->
  </ion-content>


</ion-view>
